*{
    padding: 0px;
    margin: 0px;
}
.firstSec{
    /* width: 100%; */
    background-color: #F5F5F5;
    height: 700px;
    background-size: 700px;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position-x: right;
}
nav{
    width: 80%;
    transform: translateY(15px);
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.logo{
    width: 35px;
    height: 35px;
    background-color:#69B99D;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #69B99D;
}
nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 7px;
    transform: translateX(300px);
}
nav ul li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav .activeMenuItem,
        nav li:hover {
            color: #69B99D;
            line-height: 10px;
        }
nav .activeMenuItem::after,
        nav li:hover::after {
            white-space: pre;
            font-size: 55px;
            content: "\A.";
            line-height: 1px;
        }
.signIn{
    width: 80px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    color: #69B99D;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    transform: translateX(290px);

}
.login{
    width: 150px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: #69B99D;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    transform: translateX(290px);
    
}
/* <!---------------------------------------------------- first section content --> */
.firstSecContainer{
    margin: 50px;
}
.realEstate{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #69B99D;
    width: 200px;
    height: 50px;
    background-color:white;
    text-align: center;
    line-height: 50px;
}
.hunt{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.lorem{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 198, 202);
    margin-top: 20px;
    margin-left: 10px;
}
.buy-rent{
    display: flex;    
    margin-top: 50px;
    margin-left: 40px;
    cursor: pointer;
}
.buy-rent div{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(197, 198, 202);
    
}
.buy-rent .active{
    background-color: white;
    color: #69B99D;
    transition: all 0.5s;
}
.buyForm{
    width: 700px;
    height: 100px;
    line-height: 50px;
    display: flex;
    margin-left: 40px;
    background-color: white;
    box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
}
.buyForm div{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
.buyForm div div{
    font-size: 15px;
}
div select{
    margin-left: 20px;
    color: rgb(197, 198, 202);
    font-size: 20px;
    transform: translateY(-10px);
    border: 0;
}
.search{
    width:100px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: #69B99D;
    transform: translateY(30px);
    border: 0;
}

/* -----------------------------------------------------------------discover */
.recommendation{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.apartments{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.apartment{
    border: 1px solid rgb(197, 198, 202);;
    padding: 10px;
}
.imgTitle{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.imgOwner{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 198, 202);
    margin-bottom: 10px;
}
.imgPrice{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #69B99D;
    margin-bottom: 10px;
}
.imgButton{
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #69B99D;
    border: 1px solid #69B99D;
    text-align: center;
    line-height: 50px;
}
.imgButton:hover{
    background-color: #69B99D;
    color: white;
}

/* -----------------------------------------------------------------Advante */
.ourAdvante{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #69B99D;
    width: 200px;
    height: 50px;
    background-color:white;
    text-align: center;
    line-height: 50px;
    transform: translateY(40px);
}
.advante{
    /* position: absolute; */
    float: inline-start;
    width: 100%;
    /* left: 140px; */
    /* transform: translateX(140px); */
}
.advanteFirstRow{
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    transform: translateX(7%);
}
.rowItem{
    width: 25%;
    flex-wrap: wrap;
}
.icon{
    width: 45px;
    height: 43px;
    font-size: 50px;
    color: #69B99D;
    margin-bottom: 20px;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: #054457;
    margin-bottom: 10px;
}
.description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #73788C;
}
/* -----------------------------------------------------------people say about us */
.customer{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #69B99D;
    width: 300px;
    height: 50px;
    background-color:white;
    text-align: center;
    line-height: 50px;
}
.peopleTextOne{
    color: #1F2744;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.peopleTextTwo{
    color: #1F2744;
    font-size: 16px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}
.peopleInfo{
    display: flex;
}
.peopleName{
    color:#0B2E29;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 26px;
    transform: translateX(5px);
}
.peopleCareer{
    color:#767676;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 22px;
    transform: translateX(5px);
}
/* --------------------------------------------------------------------------footer */
footer{
    width: 100%; 
    height: 355px; 
    background-color: #F5F5F5;
    transform: translateY(20px);
}
.foot{
    /* background-color: #F5F5F5; */
    width: 85%; 
    display: flex;
    justify-content: space-between;
    padding: 80px;
    transform: translateX(20px);
}
.firstColText{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
.firstColTitle{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    transform: translateY(30px);
}
.firstColTextInp{
    border: none;
    background-color: white;
    width: 351px;
    height: 41px;
    color: #D7D7D7;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2%;
    transform: translateY(25px);

}
.firstColSendInp{
    background-color: #69B99D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 88px;
    height: 42px;
    border: none;
    transform: translate(-5px,25px);
}
.colsHead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
}
.colsItem{
    color: #575757;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.footIcons{
    width: 8px;
    height: 15px;
}

/* ------------------------------------------------------------------------------------------ */